<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hive.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,73},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>Tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>TowerBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameAtlas.png</string>
            <key>size</key>
            <string>{61,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d5a63744b9e4a8a58039aa27d4dc66:f48a08986bed9bfa8d706c29a990a705:9a807abfd700f84b65170b8b7811f9b8$</string>
            <key>textureFileName</key>
            <string>GameAtlas.png</string>
        </dict>
    </dict>
</plist>
